{# ============================================= #}
{# ATOM: Logo du site                          #}
{# ============================================= #}
{% set size = size|default('md') %}

<div class="skn-logo skn-logo--{{ size }}">
    <a href="/" class="skn-logo__link">
        <span class="skn-logo__text">SKN</span>
    </a>
</div>
